@font-face {
    font-family: 'jost-light';
    src: url(../fonts/Jost-Light.ttf);
}
@font-face {
    font-family: 'jost-extralight';
    src: url(../fonts/Jost-ExtraLight.ttf);
}
.header1 {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width:1500px;
    transition: all 1s;
    transform: rotateY(90deg);
}

.header1_in{
    width: 100%;
    height: 120px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    z-index: 2;
    padding: 5px 5px 5px 5px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    border: 5px #00fffb;
    border-left-style: solid;
    border-right-style: solid;
    background: rgb(54, 54, 54);
}

.header1_in_2{
    width: auto;
    height: 130px;
    display: flex;
}
.header1_in_2_1{
    width: 450px;
    height: 130px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    text-align: center;
    padding: 5px 5px 5px 5px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    border: 5px #00fffb;
    border-left-style: solid;
    border-right-style: solid;
    background: rgb(54, 54, 54);
    transition: all 1s;
}

.header1_in_2_2_language{
    width: 450px;
    height: 130px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    text-align: center;
    padding: 5px 5px 5px 5px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    border: 5px #00fffb;
    border-left-style: solid;
    border-right-style: solid;
    background: rgb(54, 54, 54);
    transition: all 1s;
}

.header1_in_2_2_language_text{
    font-family: 'jost-light';
    font-size: 50px;
    color: #00ffdd;
    filter: drop-shadow(0px 25px 20px  #00ffee);
    text-decoration: underline;
}

.btn_in_header1_in_2_top-down{
    width: auto;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all 1s;
}
.btn_in_header1_in_2_top-down_in{
    width: 85px;
    height: 85px;
    filter: drop-shadow(0px 25px 20px  #00ffee);
}
.btn_in_header1_in_2_top-down_in_box-shadow{
    width: 1px;
    height: 1px;
    position: relative;
    left: -45px;
}

.btn_in_header1_in_2_top-down_out{
    display: flex;
    justify-content: center;
}
.arrow_menu_header1 {
    display: flex;
    justify-content: space-between;
    transition: all 1s;
    margin-top: -180px;
    opacity: 0;
}
.arrow_menu_header1_left {
    display: flex;
}
.arrow_menu_header1_left_in {
    transform: rotateY(180deg);
    filter: drop-shadow(15px 5px 20px  #00ffee);
    transition: 0.2s;
}
.arrow_menu_header1_left_in:hover {
    transform: rotateY(180deg);
    filter: drop-shadow(15px 5px 10px  #00ffee);
}
.arrow_menu_mid_title_pages {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow_menu_mid_title_pages_in{
    font-size: 50px;
    font-family: 'jost-extralight';
    color:#00fffb;
    opacity: 0;
}

.arrow_menu_header1_right {
    display: flex;
    
}
.arrow_menu_header1_right_in {
    filter: drop-shadow(15px 5px 20px  #00ffee);
    transition: 0.2s;
}
.arrow_menu_header1_right_in:hover {
    filter: drop-shadow(15px 5px 10px  #00ffee);
}

.logo_4_header{
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: 11px;
}

.text_logo1 {
    padding-left: 40px;
    cursor:default;
    font-family: 'jost-extralight';
    font-style: normal;
    font-weight: 200;
    font-size: 58px;
    background: linear-gradient(45deg, #00ffdd 33%, #007bff 66%, #9900ff);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.2em;
    color: #00fffb;
}
.btn_obn{
    border-radius: 10px;
    cursor: pointer;
    background-color: #00000000;
    border: none;
    transition: all 0.5s ease;
}
.btn_obn:active{
    transition: all 0.5s ease;
    cursor: pointer;
    background-color: #0000003e;
    border: none;
}
.button_obr_1 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 300px;
    padding-left: 50px;
    padding-right: 50px;
    transition: all 1s ease; 
    
}
.obr_button_1 {
    width: max-content;
    height: max-content;
    padding: 20px;
    font-family: 'jost-light';
    background-color: rgba(0, 0, 0, 0);
    color: #00fffb;
    transition: all 0.5s ease;
    font-size: 25px;
    cursor: pointer;
    border: 2px #00fffb00 ;
    border-bottom-style: solid;

    
}
.obr_button_1:hover{
    transition: all 0.5s ease;
    color:#008784;
    border: 2px #00fffb ;
    border-bottom-style: solid;
    
}
.obr_button_2 {
    width: max-content;
    height: max-content;
    padding: 20px;
    font-family: 'jost-light';
    background-color: rgba(0, 0, 0, 0);
    color: #00fffb;
    transition: all 0.5s ease;
    font-size: 25px;
    cursor: pointer;
    border: 2px #00fffb00 ;
    border-bottom-style: solid;

}
.obr_button_2:hover{
    transition: all 0.5s ease;
    color:#008784;
    border: 2px #00fffb ;
    border-bottom-style: solid;
}
.obr_button_3 {
    width: max-content;
    height: max-content;
    padding: 20px;
    font-family: 'jost-light';
    background-color: rgba(0, 0, 0, 0);
    color: #00fffb;
    transition: all 0.5s ease;
    font-size: 25px;
    cursor: pointer;
    border: 2px #00fffb00 ;
    border-bottom-style: solid;

}
.obr_button_3:hover{
    transition: all 0.5s ease;
    color:#008784;
    border: 2px #00fffb ;
    border-bottom-style: solid;
}
.obr_button_4 {
    width: max-content;
    height: max-content;
    padding: 20px;
    font-family: 'jost-light';
    background-color: rgba(0, 0, 0, 0);
    color: #00fffb;
    transition: all 0.5s ease;
    font-size: 25px;
    cursor: pointer;
    border: 2px #00fffb00 ;
    border-bottom-style: solid;

}
.obr_button_4:hover{
    transition: all 0.5s ease;
    color:#008784;
    border: 2px #00fffb ;
    border-bottom-style: solid;
}