.kartochka {
    min-height:100vh;
    z-index: 5;
    position: absolute;
    width: 800px;
    transition: all 1s ease;  
    display: flex;
    align-items: center;
}
.kartochka_in {
    cursor: pointer;
    transition: all 1s ease;
}

.text_in_kart{
    font-family: 'jost-light';
    font-size: 20px;
    color: #00fffb;
    display: flex;
    justify-content: center;
    opacity: 0;
    animation-name: text_kard;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    margin: auto;
    
}
@keyframes text_kard {
    0%{
        opacity: 0.20;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.20;
    }
}
.innner__kart_1{
    position: absolute;
    width: 800px;
    height: 400px;
    background: #36363641;
    z-index: -1;
    border-radius: 20px;
    

}
.innner__kart{
    box-shadow: 15px 10px 20px #000000;
    width: 800px;
    height: 400px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.text_logo {
    padding-left: 20px;
    cursor:default;
    font-family: 'jost-extralight';
    font-style: normal;
    font-weight: 200;
    font-size: 65px;
    letter-spacing: 0.3em;
    color: #000c0a;
    background: linear-gradient(45deg, #00ffdd 33%, #007bff 66%, #9900ff);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}